@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full bg-background;
  }

  :root {
    --background: 50 100% 97%;
    --foreground: 335 85% 35%;

    --card: 50 100% 98%;
    --card-foreground: 335 85% 35%;

    --popover: 50 100% 98%;
    --popover-foreground: 335 85% 35%;

    --primary: 335 85% 45%;
    --primary-foreground: 50 100% 97%;

    --secondary: 171 77% 64%;
    --secondary-foreground: 335 85% 35%;

    --muted: 171 77% 90%;
    --muted-foreground: 335 85% 45%;

    --accent: 47 95% 57%;
    --accent-foreground: 335 85% 35%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 50 100% 97%;

    --border: 171 77% 80%;
    --input: 171 77% 80%;
    --ring: 335 85% 45%;

    --radius: 1rem;
  }

  .dark {
    --background: 335 50% 15%;
    --foreground: 50 100% 97%;

    --card: 335 50% 20%;
    --card-foreground: 50 100% 97%;

    --popover: 335 50% 20%;
    --popover-foreground: 50 100% 97%;

    --primary: 171 77% 64%;
    --primary-foreground: 335 85% 35%;

    --secondary: 335 85% 45%;
    --secondary-foreground: 50 100% 97%;

    --muted: 335 50% 25%;
    --muted-foreground: 171 77% 80%;

    --accent: 47 95% 57%;
    --accent-foreground: 335 50% 15%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 50 100% 97%;

    --border: 335 50% 25%;
    --input: 335 50% 25%;
    --ring: 171 77% 64%;

    --radius: 1rem;
  }
}